<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMWMOXIKLwbZtjJY4n0H9T_FDnPSYIr_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>19811799734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FalconRide.Falcon-Ride</string>
	<key>PROJECT_ID</key>
	<string>falcon-ride-ee3fb</string>
	<key>STORAGE_BUCKET</key>
	<string>falcon-ride-ee3fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:19811799734:ios:47e74ebb8e1e3c08620c17</string>
</dict>
</plist>
